@import "@/styles/utils.scss";

.button {
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  border-radius: var(--Radius-Small);
  border: 0.0625rem solid;
  outline: 0.1875rem solid transparent;

  letter-spacing: 0.03125rem;
  user-select: none;

  cursor: pointer;
  transition: 0.2s ease-in-out;
  transition-property: border-color, outline-color, background-color, color;

  &.fullWidth {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.small {
    height: 2.25rem;
    gap: 0.375rem;
    padding: 0 0.875rem;
    font-size: var(--Text-Small);

    .icon {
      font-size: 1.125rem;
    }
  }

  &.large {
    height: 3.25rem;
    gap: 0.5rem;
    padding: 0 1.25rem;
    font-size: var(--Text-Large);

    .icon {
      font-size: 1.5rem;
    }
  }

  &:not(.minWidthNone) {
    &.small {
      min-width: 5rem;
    }

    &.large {
      min-width: 7rem;
    }
  }

  @mixin set-colors(
    $btn-border-color,
    $btn-bg-color,
    $btn-text-color,
    $btn-outline-color,
    $btn-hover-bg-color,
    $btn-active-bg-color,
    $btn-disabled-bg-color,
    $btn-disabled-text-color
  ) {
    border-color: var(--btn-border-color, $btn-border-color);
    background-color: var(--btn-bg-color, $btn-bg-color);
    color: var(--btn-text-color, $btn-text-color);

    &:focus {
      outline-color: var(--btn-outline-color, $btn-outline-color);
    }

    &:not(:disabled) {
      &:hover {
        background-color: var(--btn-hover-bg-color, $btn-hover-bg-color);
      }

      &:active {
        background-color: var(--btn-active-bg-color, $btn-active-bg-color);
      }
    }

    &:disabled {
      background-color: var(--btn-disabled-bg-color, $btn-disabled-bg-color);
      color: var(--btn-disabled-text-color, $btn-disabled-text-color);
    }
  }

  &.primary {
    @include set-colors(
      transparent,
      var(--Primary-Light),
      var(--Text-Dark-Primary),
      color-mix(in srgb, var(--Primary-Light) 70%, transparent),
      color-mix(in srgb, var(--Primary-Light) 90%, black),
      color-mix(in srgb, var(--Primary-Light) 80%, black),
      color-mix(in srgb, var(--Primary-Light) 75%, white),
      var(--Text-Dark-Primary)
    );

    [data-theme="dark"] & {
      @include set-colors(
        transparent,
        var(--Primary-Dark),
        var(--Text-Dark-Primary),
        color-mix(in srgb, var(--Primary-Dark) 70%, transparent),
        color-mix(in srgb, var(--Primary-Dark) 90%, black),
        color-mix(in srgb, var(--Primary-Dark) 80%, black),
        color-mix(in srgb, var(--Primary-Dark) 75%, white),
        var(--Text-Dark-Primary)
      );
    }
  }

  &.secondary {
    @include set-colors(
      var(--Border-Light-Primary),
      var(--BG-Light-Secondary),
      var(--Text-Light-Primary),
      color-mix(in srgb, var(--Gray-1500) 10%, transparent),
      color-mix(in srgb, var(--BG-Light-Secondary) 95%, black),
      color-mix(in srgb, var(--BG-Light-Secondary) 90%, black),
      color-mix(in srgb, var(--BG-Light-Secondary) 95%, black),
      var(--Text-Light-Disabled)
    );

    [data-theme="dark"] & {
      @include set-colors(
        var(--Border-Dark-Primary),
        var(--BG-Dark-Secondary),
        var(--Text-Dark-Primary),
        color-mix(in srgb, var(--Gray-0) 5%, transparent),
        color-mix(in srgb, var(--BG-Dark-Secondary) 95%, black),
        color-mix(in srgb, var(--BG-Dark-Secondary) 90%, black),
        color-mix(in srgb, var(--BG-Dark-Secondary) 95%, black),
        var(--Text-Dark-Disabled)
      );
    }
  }

  &.tertiary {
    @include set-colors(
      transparent,
      transparent,
      var(--Text-Light-Primary),
      color-mix(in srgb, var(--Gray-1500) 10%, transparent),
      color-mix(in srgb, black 5%, transparent),
      color-mix(in srgb, black 10%, transparent),
      transparent,
      var(--Text-Light-Disabled)
    );

    [data-theme="dark"] & {
      @include set-colors(
        transparent,
        transparent,
        var(--Text-Dark-Primary),
        color-mix(in srgb, var(--Gray-0) 5%, transparent),
        color-mix(in srgb, white 5%, transparent),
        color-mix(in srgb, white 10%, transparent),
        transparent,
        var(--Text-Dark-Disabled)
      );
    }
  }

  &.danger {
    @include set-colors(
      transparent,
      var(--Danger),
      var(--Text-Dark-Primary),
      color-mix(in srgb, var(--Danger) 30%, transparent),
      color-mix(in srgb, var(--Danger) 90%, black),
      color-mix(in srgb, var(--Danger) 80%, black),
      color-mix(in srgb, var(--Danger) 75%, white),
      var(--Text-Dark-Primary)
    );
  }
}
