@import "@/styles/utils.scss";

.statusIcon {
  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  .icon {
    display: block;
    position: relative;
    font-size: 2rem;
  }

  &.info {
    background-color: to-opacity(var(--Primary-Light), 0.85);

    .icon {
      color: var(--Primary-Light);
    }
  }

  &.success {
    background-color: to-opacity(var(--Success), 0.85);

    .icon {
      color: var(--Success);
    }
  }

  &.warning {
    background-color: to-opacity(var(--Warning), 0.85);

    .icon {
      color: var(--Warning);
    }
  }

  &.error {
    background-color: to-opacity(var(--Danger), 0.85);

    .icon {
      color: var(--Danger);
    }
  }
}
