@import "@/styles/utils.scss";

.statusIcon {
  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: to-opacity(var(--Icon-Color), 0.85);

  .icon {
    display: block;
    position: relative;
    color: var(--Icon-Color);
    font-size: 2rem;
  }

  &.info {
    --Icon-Color: var(--Primary-Light);
  }

  &.success {
    --Icon-Color: var(--Success);
  }

  &.warning {
    --Icon-Color: var(--Warning);
  }

  &.error {
    --Icon-Color: var(--Danger);
  }
}
