.editorContainer {
  padding: 1rem;
  background-color: #585858;
}

.paperBox {
  //   background: none;
  //   outline: none;
  //   border: none;
}

.textarea {
  width: 500px;
  height: 240px;
  padding: 1rem;
  display: block;
  resize: none;
  background-color: #121212;
  color: white;
  border-radius: 4px;
  outline: none;
  font-family: monospace;
  font-size: 1rem;

  &:focus {
    border-color: #90caf9;
  }
}
