.editor {
  width: var(--ed-width, 31.25rem);
  height: var(--ed-height, 15rem);

  display: flex;
  flex-direction: column;

  textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: block;
    resize: none;
    border: none;
    background: none;
    border-radius: 0.25rem;
    outline: none;
    font-family: monospace;
    font-size: 1rem;
  }
}
.btnCon {
  display: flex;
  justify-content: space-between;

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flieButton {
    color: rgba(0, 0, 0, 0.6);
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.paperBox {
  height: 0;
  flex: 1 1 0;

  &:focus-within {
    outline: 0.125rem solid #90caf9;
    outline-offset: -0.125rem;
  }
}
