.label {
  --Label-Line-Height: calc(var(--Label-Text-Size) * 1.5);
  display: flex;

  &.notReady {
    visibility: hidden;
  }

  &.small {
    --Label-Text-Size: var(--Text-Medium);
    --Label-Contents-Height: 2.25rem;
    gap: var(--Label-Gap-Small);
  }

  &.large {
    --Label-Text-Size: var(--Text-Large);
    --Label-Contents-Height: 3.25rem;
    gap: var(--Label-Gap-Large);
  }

  &.top {
    --Label-Gap-Small: 0.375rem;
    --Label-Gap-Large: 0.5rem;
    flex-direction: column;
  }

  &.left {
    --Label-Gap-Small: 1rem;
    --Label-Gap-Large: 1.5rem;
    align-items: center;

    .text {
      white-space: nowrap;
    }
  }

  &.right {
    --Label-Gap-Small: 0.5rem;
    --Label-Gap-Large: 1rem;
    flex-direction: row-reverse;

    .text {
      padding-top: calc((var(--Label-Contents-Height) - var(--Label-Line-Height)) / 2);
    }

    .contents {
      height: var(--Label-Contents-Height);
      display: flex;
      align-items: center;
    }
  }
}

.text {
  max-width: 300px;
  color: var(--Text-Light-Primary);
  font-size: var(--Label-Text-Size);
  line-height: var(--Label-Line-Height);

  div {
    width: fit-content;
  }
}
