.container {
  --rightArea-bg-color: #f5f5f5;

  [data-theme="dark"] & {
    --rightArea-bg-color: #212121;
  }

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  transition: 0.4s ease-in-out;
  transition-property: background-color, opacity;

  .flexContainer {
    display: flex;
    height: 100%;

    .rightArea {
      $collapseButton-size: 1.5rem;
      $padding: 1rem;

      width: 31.25rem;
      height: calc(100vh - 6.625rem);

      flex: none;
      display: flex;
      flex-direction: column;
      padding: $padding;

      background-color: var(--rightArea-bg-color);
      transition: width 0.3s ease-in-out;

      z-index: 0;

      &.collapsed {
        width: $collapseButton-size + $padding * 2;
      }

      .collapseButton {
        width: $collapseButton-size;
        height: $collapseButton-size;

        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
      }

      .textAreaContainer {
        width: 100%;
        height: 0;

        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 1rem;
      }

      .editor {
        --ed-width: 100%;
        --ed-height: 0;
        flex: 1 1 0;
      }
    }
  }
}

.dragging {
  background-color: rgba(black, 0.5);
}

.error {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.viewArea {
  width: 0;
  flex: 1 1 0;
  position: relative;
}

.toolPanelArea {
  --tp-max-height: 100%;

  position: absolute;
  inset: 1.5rem;
  z-index: 1;
  pointer-events: none;

  > * {
    pointer-events: all;
  }
}

.overviewArea {
  position: absolute;
  inset: 0;
  z-index: 2;

  pointer-events: none;

  > * {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;
  }
}

.dropDescription {
  background-color: rgba(black, 0.5);
  color: white;
  font-size: 5rem;
}

.instruction {
  font-size: 1.2rem;
}

.errorMessage {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}
