.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  transition: 0.4s ease-in-out;
  transition-property: background-color, opacity;

  .flexContainer {
    display: flex;
    height: 100%;

    .leftArea {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .rightArea {
      position: relative;
      width: 31.25rem;
      height: calc(100vh - 6.625rem);
      background-color: #d9d9d9;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      overflow: hidden;
      transition: width 0.3s ease;

      &.collapsed {
        width: 3.125rem;
      }

      // .textContainer {
      .textAreaContainer {
        position: relative;
        --ed-width: 29rem;
        width: var(--ed-width);
        height: 93%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        > * {
          flex: 1;
          aspect-ratio: 1/1;
          max-height: 100%;
          overflow: hidden;
        }
      }

      .collapseButton {
        width: 1.5625rem;
        height: 1.5625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          // 고민
        }
      }
      // }
    }
  }
}

.dragging {
  background-color: rgba(0, 0, 0, 0.5);
}

.error {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.viewArea {
  height: 0;
  flex: 1 1 0;
  position: relative;
}

.toolPanelArea {
  --tp-max-height: 100%;

  position: absolute;
  inset: 1.5rem;
  z-index: 1;
  pointer-events: none;

  > * {
    pointer-events: all;
  }

  .right {
    margin-left: auto;
  }
}

.overviewArea {
  position: absolute;
  inset: 0;
  z-index: 2;

  pointer-events: none;

  > * {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;
  }
}

.dropDescription {
  background-color: rgba(black, 0.5);
  color: white;
  font-size: 5rem;
}

.instruction {
  font-size: 1.2rem;
}

.errorMessage {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}
