.modelCard :global(.MuiCardContent-root) {
  padding: 0;
}

.modelCard {
  height: 7rem;
  background-color: rgba(black, 0.2);
  border-radius: 0.25rem;
  display: flex;

  .ImgCard {
    width: 7rem;
  }
  .CardCon {
    margin: 0.75rem 0 0 0.875rem;
  }
  .TitleCard {
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  .DecCard {
    color: #8d8d8d;
    font-size: 0.75rem;
    line-height: 1rem;
    white-space: pre-line;
  }
}
