.tooltipWrapper {
  width: fit-content;
  height: fit-content;
}

.tooltipArea {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.tooltip {
  padding: 0.375rem 0.5rem;
  position: absolute;
  transform: translate(-50%, 0.5rem);

  border-radius: var(--Radius-Small);
  background-color: rgba(black, 0.65);

  color: white;
  font-size: var(--Text-Medium);

  @keyframes appear {
    from {
      opacity: 0;
      transform: translate(-50%, 0);
    }

    to {
      opacity: 1;
      transform: translate(-50%, 0.5rem);
    }
  }

  @keyframes disappear {
    from {
      opacity: 1;
      transform: translate(-50%, 0.5rem);
    }

    to {
      opacity: 0;
      transform: translate(-50%, 0);
    }
  }

  animation: appear 0.1s ease-in-out forwards;

  &.unmounting {
    animation: disappear 0.1s ease-in-out forwards;
  }
}
