.tooltipWrapper {
  width: fit-content;
  height: fit-content;
}

.tooltipArea {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.tooltip {
  padding: 0.5rem 0.75rem;
  position: absolute;

  border-radius: var(--Radius-Small);
  background-color: rgba(black, 0.65);

  color: white;
  font-size: var(--Text-Medium);

  @mixin animate($direction, $x1, $x2, $y1, $y2) {
    @keyframes appear-#{$direction} {
      from {
        opacity: 0;
        transform: translate(#{$x1}, #{$y1});
      }

      to {
        opacity: 1;
        transform: translate(#{$x2}, #{$y2});
      }
    }

    @keyframes disappear-#{$direction} {
      from {
        opacity: 1;
        transform: translate(#{$x2}, #{$y2});
      }

      to {
        opacity: 0;
        transform: translate(#{$x1}, #{$y1});
      }
    }

    animation: appear-#{$direction} 0.1s ease-in-out forwards;

    &.unmounting {
      animation: disappear-#{$direction} 0.1s ease-in-out forwards;
    }
  }

  &.top {
    @include animate("top", -50%, -50%, -100%, calc(-100% - 0.5rem));
  }

  &.right {
    @include animate("right", 0, 0.5rem, -50%, -50%);
  }

  &.bottom {
    @include animate("bottom", -50%, -50%, 0, 0.5rem);
  }

  &.left {
    @include animate("left", -100%, calc(-100% - 0.5rem), -50%, -50%);
  }
}
