@use "sass:selector";

.toggleWrapper {
  width: fit-content;
  flex: none;
  display: flex;
  align-items: center;

  &.small {
    height: 2.25rem;
  }

  &.large {
    height: 3.25rem;
  }
}

.toggle {
  $border-width: 0.0625rem;

  display: block;
  border: $border-width solid var(--Border-Light-Primary);
  background-color: var(--BG-Light-Primary);
  cursor: pointer;

  @mixin setSize($width, $height, $padding) {
    $knob-size: $height - ($padding + $border-width) * 2;

    width: $width;
    height: $height;
    padding: $padding;
    border-radius: $height / 2;

    &::after {
      width: $knob-size;
      height: $knob-size;

      @at-root #{selector.unify(&, ".active")} {
        left: $width - $knob-size - ($padding + $border-width) * 2;
      }
    }
  }

  .small & {
    @include setSize(3rem, 1.75rem, 0.25rem);
  }

  .large & {
    @include setSize(4rem, 2.25rem, 0.3125rem);
  }

  &::after {
    display: block;
    content: "";
    box-sizing: border-box;

    position: relative;
    left: 0;

    border-radius: 50%;
    border: 0.0625rem solid var(--Border-Light-Primary);
    background-color: var(--BG-Light-Quaternary);

    transition: 0.2s ease-in-out;
    transition-property: left;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
