$translate-y: 0.5rem;

.scrim {
  overflow: hidden;
}

.translateHelper {
  height: $translate-y;
  position: absolute;
  visibility: hidden;
}

.options {
  box-sizing: border-box;

  position: absolute;

  border-radius: var(--Radius-Small);
  border: 0.0625rem solid var(--Border-Light-Primary);
  background-color: var(--BG-Light-Primary);
  overflow: hidden;

  &.small {
    max-height: 15rem;
  }

  &.large {
    max-height: 24rem;
  }

  @mixin animate($name, $translate-y) {
    @keyframes appear-#{$name} {
      from {
        opacity: 0;
        transform: translateY(0);
      }

      to {
        opacity: 1;
        transform: translateY($translate-y);
      }
    }

    @keyframes disappear-#{$name} {
      from {
        opacity: 1;
        transform: translateY($translate-y);
      }

      to {
        opacity: 0;
        transform: translateY(0);
      }
    }

    animation: appear-#{$name} 0.2s ease-in-out forwards;

    &.unmounting {
      animation: disappear-#{$name} 0.2s ease-in-out forwards;
    }
  }

  @include animate(bottom, $translate-y);

  &.top {
    @include animate(top, -$translate-y);
  }
}

.list {
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.25rem;
  padding: 0 0.875rem;

  user-select: none;

  cursor: pointer;

  .small & {
    height: 2.25rem;
    border-radius: var(--Radius-Extra-Small);
    font-size: var(--Text-Small);
  }

  .large & {
    height: 3rem;
    border-radius: var(--Radius-Small);
    font-size: var(--Text-Large);
  }

  &:focus {
    outline: none;
    background-color: color-mix(in srgb, var(--Primary-Light) 15%, transparent);
  }

  .contents {
    width: 0;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .icon {
      color: var(--Text-Light-Secondary);
      font-size: 1.17em;
    }

    .text {
      width: 0;
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
    }

    .label,
    .description {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .label {
      color: var(--Text-Light-Primary);
      font-weight: 500;
      letter-spacing: 0.03125rem;
    }

    .description {
      color: var(--Text-Light-Quaternary);
      font-size: 0.75em;
    }
  }

  .checkIcon {
    position: relative;
    left: 0.125rem;
    font-size: 1.17em;
    color: var(--Primary-Light);
  }
}
